h1 URL Shortener Microservice API
a(href='https://github.com/dickyw71')
    img(src='https://avatars.githubusercontent.com/u/13287196?v=3')
p Usage: To create a shortened URL
code #{host}/new/https://www.google.com